@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');
* {
 box-sizing: border-box;
}
body{
 background-image: url("https://cdn.pixabay.com/photo/2018/01/21/11/43/heart-3096380_960_720.jpg");
 height: 90vh;
 background-size: cover;
 background-position: center, center;
 font-family: "Poppins";
 display: flex;
 align-items: center;
 flex-direction: column;
}

h1 {
 font-weight: normal;
 font-size: 4rem;
 margin-top: 10rem;
}

.countdown-container {
 display: flex;
}

.big-text {
 font-weight: bold;
 font-size: 6rem;
 line-height: 1;
 margin: 0 2rem;
}
.countdown-el{
 text-align: center;
}
.countdown-el span{
 font-size: 1.3rem;
}